<h1 style="text-align: center;">Gathering of Writers - Home Page</h1>
<% if logged_in? %>
    <h2 style="font-style: italic;">Welcome, <span class="user-info"><%= current_user.username %></span></h2>
<% end %>


<h3>What kind of place is Gathering of Writers?</h3>
<div class="ui divider"></div>
<p>This is a place for writers to come together and share their stories, 
or write stories in groups with friends.
Articles can be publicly viewed by anyone, but only registered users may create.
In addition, registered users may create groups and share or write stories
together with friends. Groups are small so everyone can be involved more easily.
</p>

<br>

<h3>About contacting</h3>
<div class="ui divider"></div>
<p>This site was made using Ruby on Rails. If you notice anything wrong with the functionality 
of the site, please contact at <a href="#">gatheringofwriters@gmail.com</a>.
You are also welcome to send ideas, comments, or questions regarding the site. 
However, there is no guarantee that your idea will be implemented on this site, 
or that a bug can be fixed in a timely manner, or that your email will be responded to at all.
</p>

<br>

<h4>Disclaimer</h4>
<div class="ui divider"></div>
<p>
The views and opinions expressed on this site belong solely to the individual authors, 
and are not endorsed or represented by any other entity. 
</p>

<p>This site is a work in progress and a chance for me to learn Ruby on Rails. 
Depending on the situation, and as I deem fit, the site and its contents may be 
taken down without notice, so please do not put anything here and expect to be able 
to use or access it later.
</p>

<p>
In addition, I do not verify that any information on this site is accurate or reliable.
Any action you take on this website is at your own risk, and I will not be liable 
for any damages or losses incurred by using this site.
</p>

<p>
Please do not post anything related to the following topics, as it will most likely
lead to forced removal: sexually explicit content, content promoting violence or bodily harm,
hate speech or discriminatory language, illegal or unethical behavior, content in violation 
of any applicable laws, and any other harmful or otherwise inappropriate content.
Please report if you see material related to the above topics.
</p>

<p>
Finally, please feel free to test out the site. 
Security has been tested, but as with any site, there may be overlooked loopholes. 
I am still a beginner, so there is probably something I am not aware of.
You can even try to hack it if you like (but please don't go breaking it). 
I only ask that if you find any security oversights or any other problems, 
please be kind and thoughtful by reporting them to the above email.
It would give me a chance to grow and develop as a Ruby on Rails developer. Thank you.
</p>



